In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from nltk import download
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import regex as re

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/4GeeksAcademy/machine-learning-content/master/assets/spam.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [4]:
df.sample(10)

     Category                                            Message
3017      ham  &lt;#&gt;  is fast approaching. So, Wish u a v...
2842      ham                                        Ok thanx...
2003     spam  TheMob>Yo yo yo-Here comes a new selection of ...
1014      ham  Just buy a pizza. Meat lovers or supreme. U ge...
1758      ham                Miss ya, need ya, want ya, love ya.
55        ham  Do you know what Mallika Sherawat did yesterda...
3041      ham  One day a crab was running on the sea shore..T...
3465      ham                                           My phone
3992      ham                         I am on the way to ur home
1433      ham             Thanks for ve lovely wisheds. You rock

In [5]:
df.result = df.Category.apply(lambda x: 1 if x == 'spam' else 0).astype(int)

df.Category.value_counts()

/tmp/ipykernel_5476/1114342450.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.result = df.Category.apply(lambda x: 1 if x == 'spam' else 0).astype(int)

Category
ham     4825
spam     747
Name: count, dtype: int64

In [7]:
def preprocess_text(text):
    text = text.lower()
    text = re.sub(r'[^a-z ]',' ',text)
    text = text.strip()
    text = re.sub(r'\s+',' ', text)
    text = re.sub("&lt;/?.*?&gt;"," &lt;&gt; ", text)
    return text.split()

df.Message = df.Message.apply(preprocess_text)

In [8]:
df.sample(10)

     Category                                            Message
1809      ham  [aiyo, a, bit, pai, seh, noe, scared, he, dun,...
640       ham  [i, had, askd, u, a, question, some, hours, be...
743       ham  [just, got, up, have, to, be, out, of, the, ro...
5476      ham  [yes, princess, i, want, to, please, you, ever...
2482      ham               [k, do, it, at, evening, da, urgent]
2311     spam  [you, have, won, a, nokia, i, this, is, what, ...
2562      ham                       [and, maybe, some, pressies]
1488      ham               [i, told, your, number, to, gautham]
4309      ham  [ha, ha, had, popped, down, to, the, loo, when...
4463      ham  [sorry, i, flaked, last, night, shit, s, serio...

In [9]:
download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     /home/codespace/nltk_data...

True

In [10]:
download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/codespace/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
lemmatizer = WordNetLemmatizer()
stop_words = stopwords.words('english')